.vhr {
    max-width: 1px;
    height: 500px;;
    background-color:#ccc;
    padding: 0px;
}

.body-min {
    min-height: 600px;
}

.home-body {
    background-color: #eeeeee;
}

.btn-circle {
    border-radius: 100%;
  }